{% extends 'base.html' %}

{% block head %}
<title>Home - Cypher</title>
{% endblock %}

{% block body %}
<!-- MAIN -->
<div class="container p-4 d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <img class="masthead-avatar mb-5" src="{{url_for('static', filename='images/cypher.png')}}" alt="..." />
    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0">Cypher E-Sign</h1>
    <p class="masthead-subheading font-weight-light mb-0">Digital Document Signing and Digital Document Verifying</p>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0">RSA - SHA3</p>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <p class="masthead-subheading font-weight-light mb-0">Made By</p>
    <p class="masthead-subheading font-weight-light mb-0">Gde Anantha Priharsena (13519026)</p>
    <p class="masthead-subheading font-weight-light mb-0">Reihan Andhika Putra   (13519043)</p>
    <p class="masthead-subheading font-weight-light mb-0">Reyhan Emyr Arrosyid   (13519167)</p>
</div>

{% endblock %} w